
<calendar-navigation view-date="viewDate"></calendar-navigation>



<div class="alert alert-danger" ng-hide="projects.length > 0">
	<p>There are no projects added</p>
</div>

<div ng-show="projects.length > 0">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul class="nav nav-tabs">
				<li ng-repeat="project in projects"
					>{{project.name}}</li>
			</ul>
		</div>
	</div>
	<charts-view project="selected" view-date="viewDate"></charts-view>
</div>



<div class="row">

	<task-form users="users"></task-form>
	<project-form users="users"></project-form>

</div>
<!-- <pre>{{projects | json}}</pre> -->
