
<calendar-navigation view-date="viewDate"></calendar-navigation>



<div class="alert alert-danger" ng-hide="projects.length > 0">
	<p>There are no projects added</p>
</div>

<div class="row">
	
	<task-form users="users"></task-form>
	<project-form users="users"></project-form>
	
	
	
</div>
<pre>{{users | json}}</pre>

<!-- Supposed to be above the alert box :) -->
<!-- <br> -->
<!-- {{user.name}} -->
<!-- <div ng-if="projects.length > 0"> -->
<!-- 	<time-stamp-calendar users="usersTasksView" view="calendarView" -->
<!-- 		view-title="calendarTitle" view-date="viewDate" -->
<!-- 		on-event-click="eventClicked(calendarEvent)" -->
<!-- 		on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd" -->
<!-- 		edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'" -->
<!-- 		delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'" -->
<!-- 		on-edit-event-click="eventEdited(calendarEvent)" -->
<!-- 		on-delete-event-click="eventDeleted(calendarEvent)" -->
<!-- 		cell-is-open="vm.isCellOpen" day-view-start="06:00" -->
<!-- 		day-view-end="22:00" day-view-split="30" -->
<!-- 		cell-modifier="modifyCell(calendarCell)"> </time-stamp-calendar> -->
<!-- </div> -->